{% extends 'base.html' %}

{% block content %}
    <h2>Відгуки</h2>

    <ul class="list-group">
        {% for review in review_list %}
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ review.title }}</h5>
                <p class="card-text">{{review.content}}</p>
                <a href="#" class="btn btn-outline-success">Створити свій</a>
            </div>
        </div>
        {% empty %}
            <li class="list-group-item"> Немає відгуків. </li>
        {% endfor %}
    </ul>
{% endblock %}